<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.myself.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginFormController</servlet-name>
        <servlet-class>com.myself.controller.LoginFormController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginFormController</servlet-name>
        <url-pattern>/loginFormController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NoticeController</servlet-name>
        <servlet-class>com.myself.controller.NoticeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NoticeController</servlet-name>
        <url-pattern>/noticeController</url-pattern>
    </servlet-mapping>



</web-app>